<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.0.1" targetFramework="net451" />
  <package id="Autofac.Extras.CommonServiceLocator" version="5.0.0" targetFramework="net451" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net451" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net451" />
  <package id="itextsharp.pdfa" version="5.5.12" targetFramework="net451" />
  <package id="itextsharp.xmlworker" version="5.5.12" targetFramework="net451" />
  <package id="MvvmDialogs" version="5.1.0" targetFramework="net451" />
  <package id="MvvmLightLibs" version="5.4.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="Ninject" version="3.3.4" targetFramework="net451" />
  <package id="PdfReport" version="2.9.2" targetFramework="net451" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net451" />
  <package id="Z.EntityFramework.Extensions" version="3.15.17" targetFramework="net451" />
</packages>